{% extends 'parts/base.html' %} {% load static %} {% load crispy_forms_tags %} {% block contents %}
<div class="sufee-login d-flex align-content-center flex-wrap">
    <div class="container">
        <div class="login-content">
            <div class="login-logo">
                <a href="index.html">
                    <img class="align-content" src="{% static 'images/1.png'%}" alt="">
                </a>
            </div>
            <div class="login-form">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="form-group">
                        {{signup.username|as_crispy_field}}
                    </div>
                    <div class="form-group">
                        {{signup.email|as_crispy_field}}
                    </div>
                    <br>

                    <div class="row">
                        <div class="col-sm-6">

                            {{signup.first_name|as_crispy_field}}
                        </div>
                        <div class="col-sm-6">

                            {{signup.last_name|as_crispy_field}}
                        </div>
                        <div class="row">
                            <div class="col-sm-6">

                                {{signup.password1|as_crispy_field}}
                            </div>
                            <div class="col-sm-6">

                                {{signup.password2|as_crispy_field}}
                            </div>
                            <div class="row">
                                <div class="col-sm-6">

                                    {{signup.DepN|as_crispy_field}}
                                </div>
                                <div class="col-sm-6">

                                    {{signup.secN|as_crispy_field}}
                                </div>

                                <button type="submit" class="btn btn-success btn-flat m-b-30 m-t-30">Sign Up</button>
                                <div class="social-login-content">

                                </div>
                                <div class="register-link m-t-15 text-center">
                                    <p>I have account ? <a href="{% url 'acc:ulogin' %}"> Sign In Here</a></p>
                                </div>
                </form>
                </div>
                </div>
                </div>
            </div>

            {% endblock contents %}