{% extends 'parts/base.html' %} {% load static %} {% load crispy_forms_tags %} {% block contents %}
<div class="sufee-login d-flex align-content-center flex-wrap">
    <div class="container">
        <div class="login-content">
            <div class="login-logo">
                <a href="index.html">
                    <img class="align-content" src="{% static 'images/1.png'%}" alt="">
                </a>
            </div>
            <div class="login-form">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="form-group">
                        {{log.username|as_crispy_field}}
                    </div>
                    <div class="form-group">

                        {{log.password|as_crispy_field}}

                    </div>
                    <div class="checkbox">
                        <label>
                        <input  type="checkbox"> Remember Me
                    </label>
                        <label class="pull-right">
                        <a href="#">Forgotten Password?</a>
                    </label>

                    </div>
                    <button type="submit" class="btn btn-success btn-flat m-b-30 m-t-30">Sign in</button>
                    <div class="social-login-content">

                    </div>
                    <div class="register-link m-t-15 text-center">
                        <p>Don't have account ? <a href="{% url 'acc:signup' %}"> Sign Up Here</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock contents %}