{% extends 'base.html' %} {% load static %} {% block content %}

<form method="POST">
    {% csrf_token %}
    <div class="container-fluid bg-3 text-left">
        <div>
            <button type="button" class="btn btn-success" data-toggle="button" aria-pressed="false" autocomplete="off">
            <h5 class="border border-primary" >Add A New Taske</h5>
          </button>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-3  ">
                <label for="x">{{form.TaskDate.label}}</label>
                <p id="x" style="box-sizing: 50px;"> {{form.TaskDate}} </p>

            </div>
            <div class="col-sm-3">
                <label for="x">{{form.TaskDate.label}}</label>
                <p id="x" style="box-sizing: 50px;"> {{form.DueDate}} </p>

            </div>

            <br>
        </div>
        <div class="row">

            <div class="col-sm-3">
                <p>{{form.DepName.label}}{{form.DepName}}</p>

            </div>
            <div class="col-sm-3">
                <p>{{form.sec.label}}{{form.sec}}</p>

            </div>
            <div class="col-sm-3">
                <p>{{form.TaskOwner.label}}{{form.TaskOwner}}</p>

            </div>
        </div>
        <br>

        <div class="container-fluid bg-3 text-center">
            <div class="row">
                <div class="col-sm-3">
                    <p>{{form.MonitoringTool.label}}{{form.MonitoringTool}}</p>

                </div>
                <div class="col-sm-3">
                    <p>{{form.FOF.label}}{{form.FOF}}</p>

                </div>
                <div class="col-sm-3">
                    <p>{{form.Status.label}}{{form.Status}}</p>

                </div>

            </div>
            <div class="container-fluid bg-3 text-center">
                <div class="col-sm-9">
                    <p>{{form.Task.label}}{{form.Task}}</p>

                </div>
                <br>
                <div class="col-sm-6">
                    <p>{{form.TaskSituation.label}}{{form.TaskSituation}}</p>

                </div>
                <div class="col-sm-12">
                    <p>{{form.Comment.label}}{{form.Comment}}</p>

                </div>


                <button type="submit" class="btn btn-success btn-flat m-b-30 m-t-30">Submit</button>

</form>
</div><br><br>
<script>
    $(function() {
        $("#id_dob").datepicker({
            changeMonth: true,
            changeYear: true,
            yearRange: '1950:2050',
            dateFormat: 'yy-mm-dd',
            defaultDate: "24-09-2019"
        });
    });
</script>
<script>
    $(document).ready(function() {
        $('.dropdown-toggle').dropdown();
    });
</script>
{% endblock content %}